node_modules
*.code-workspace

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.js

# testing
/coverage

# production
build
build-front

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# I don't know why it does this (compile into the same folder), but let's assume it can be fixed in a real environment
shared/**/*.js
